NODE_ENV=development
PORT=3001
DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=soa_keuangan_fix
DB_USER=root
DB_PASSWORD=
SQL_LOG=false
EXCHANGE_RATE_API_KEY=ISI_API_KEY_ANDA
API_TIMEOUT_MS=5000
UPSTREAM_ANIME=https://kitsu.io/api/edge/anime
DISCORD_WEBHOOK_URL=
# API pihak ketiga
MIDTRANS_SERVER_KEY=